{{#if model.username}}
  <h3>Nice to see ya' {{model.username}}. Time to start chattin'.</h3>
  <div class="chat-window">
    {{#each model.messages as |message|}}
      <strong>{{message.username}}:</strong>
      {{message.body}}
      <br>
    {{/each}}
  </div>

  <form {{action "sendMessage" inputMessage on="submit"}}>
    {{input value=inputMessage}}
    <button {{action "sendMessage" inputMessage}}>Send Message</button>
  </form>
  <hr>
  <button {{action "forgetUsername"}}>BYE!</button>
{{else}}
  <h3>Enter a username:</h3>

  <form {{action "storeUsername" inputUsername on="submit"}}>
    {{input value=inputUsername}}
    <button {{action "storeUsername" inputUsername}}>Start Talkin'</button>
  </form>
{{/if}}
